#mainImage{
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    width:100vw;
    height:100vh;
    /* transition: background-image 1.5s ease; */
    font-family: 'Roboto', sans-serif;

}

.mainBody {
  height: 100%;
}

html, body {
  margin:0;
  padding:0;
  height:100%;
}


.background {
  background-color: #f7f8f9;
  border-radius: 5px;
  margin-top: 20px;
  /* **************Turned off to see cards better-Gabe************************* */
  /* opacity: .7; */
}

.form-group {
  padding-bottom: 3rem;

}

.headline {
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.footer {
   position:absolute;
   bottom:0;
   /* height:20px;  */
   text-align: left;
   margin-left: 9rem;
}


body:after {
    display:none;
    content:url("../assets/images/seattle.jpeg")
            url("../assets/images/sanfran.jpeg")
            url("../assets/images/newyork.jpeg")
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.stage0 {
  background-image:url("../assets/images/seattle.jpeg");
}
.stage1 {
  background-image:url("../assets/images/sanfran.jpeg");
}
.stage2 {
  background-image:url("../assets/images/newyork.jpeg");

}

.card {
          margin: 0 auto; /* Added */
          float: none; /* Added */
          margin-bottom: 10px; /* Added */
  }


.card2 {
          margin: 0 auto; /* Added */
          float: none; /* Added */
          padding-bottom: 0px; /* Added */
          height: 150px;
          width: 160px;
          margin-bottom: 10px;
    }


.addressItalic {
  font-style: italic;
  padding-top: 5px;
  color: blue;
}

.cardPadding{
  padding: 5px;
}
