.mainImage {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* width:100%;
    height:100%; */
  /* transition: background-image 1.5s ease; */
  font-family: 'Roboto', sans-serif;
  background-size: cover;
  position: relative;
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.mainBody {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: scroll;
}

html, body {
  position: relative;
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  overflow: auto;
}

.background {
  background-color: rgba(247, 248, 249, .9);
  border-radius: 5px;
  margin-top: 2em;
  margin-bottom: 2em;
}

.form-group {
  padding-bottom: 1rem;
}

.headline {
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.footer {
  position: absolute;
  bottom: 0;
  /* height:20px;  */
  text-align: left;
  margin-left: 9rem;
}

body:after {
  display: none;
  content: url("../assets/images/seattle.jpeg") url("../assets/images/sanfran.jpeg") url("../assets/images/newyork.jpeg")
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.stage0 {
  background-image: url("../assets/images/seattle.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.stage1 {
  background-image: url("../assets/images/sanfran.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.stage2 {
  background-image: url("../assets/images/newyork.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.tlmargin {
  margin: 0, auto;
}

.imgMargin {
  margin-bottom: 1em;
}

.cardWeather {
  margin: 1em;
  padding: 1em;
}

.card {
  margin: 0 auto;
  /* Added */
  float: none;
  /* Added */
  margin-bottom: 15px;
  /* Added */
}

.card2 {
  margin: 0 auto;
  /* Added */
  float: none;
  /* Added */
  padding-bottom: 0px;
  /* Added */
  height: 150px;
  width: 160px;
  margin-bottom: 15px;
}

.addressItalic {
  font-style: italic;
  padding-top: 5px;
  color: blue;
}

.cardPadding {
  padding: 5px;
}

.userCityFormat {
  width: 300px;
  height: 46px;
  padding-left: 10px;
  font-style: italic;
  position: relative;
  bottom: -2px;
  right: 3px;
}

.userSearchFormat {
  width: 300px;
  height: 45px;
  position: relative;
  left: 2px;
}

.userCardsValueFormat {
  width: 70px;
  height: 45px;
  position: relative;
  left: 2px;
  border-left: 0px;
}

#submitBtn {
  height: 43px;
  position: relative;
  right: -3px;
}

#submitBtn:hover {
  background-color: blue;
}

#activitiesBG {
  background-color: transparent;
}

#weatherDiv {
  background-color: transparent;
}

option {
  font-size: 20px;
}

h1, h3 {
  color: black;
  font-weight: 600;
  background-color: transparent;
}
